mixin big-news(category,title,time,img)
  // big-news
  article.big-news
    a(href="#") 
      if img
        span.big-news__img.img-responsive
          img(src="img/" + img, alt="")
      span.big-news__content
        span.big-news__category= category
        h1.big-news__title!= title
        time.big-news__time= time
  //	/big-news