.social {
  &__title {
    margin-bottom: 20px;
  }
  &__row {
    display: flex;
    align-items: center;
    margin-left: -20px;
  }
  &__icon {
    margin-left: 20px;
    svg {
      width: 33px;
      height: 33px;      
    }
  }
}